.container {
  margin: 0 40px 0 40px;
  background-color: rgb(247, 247, 247);
}

canvas {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.flexlist {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.productname {
  color: rgb(108, 108, 108);
  font-weight: bold;
  font-size: 1.2em;
}

.productcard {
  width: 150px;
  min-width: 150px;
  height: 150px;
  min-height: 150px;
  margin: auto;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.designcard {
  width: 130px;
  min-width: 130px;
  height: 130px;
  min-height: 130px;
  margin: auto;
  cursor: pointer;
  margin: 10px 10px 0 0;
}

.label {
  font-size: 0.7em;
  font-weight: bold;
}

.cardacton {
  background: rgba(0,0,0,0.3);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.actionarea {
  position: relative;
  margin: 40px 40px 0 40px;
}
.actionbutton {
  position: absolute;
  right: 0;
}

.orderform {
  margin-top: 10%;
}

.pricelabel {
  font-size: 1.5em;
}

.tag {
  padding: 0 10px 0 10px;
  cursor: pointer;
}
