body {
  background-color: #fdfdf9;
}

.header {
  box-shadow: 0 3px 10px rgba(0,0,0,.25);
  margin-bottom: 20px;
  height: 70px;
  position: relative;
}
.header .mdl-tabs__tab-bar {
  height: 70px;
  justify-content: flex-start;
}

.mdl-tabs__tab-bar {
  justify-content: space-around;
}

.header-tab {
  font-family: georgia;
  padding-top: 20px;
  height: 50px;
}

@media (min-width: 600px) {
  .header {
    padding: 0 20px 0 20px;
    letter-spacing: .20rem;
  }
  .header-tab {
    min-width: 80px;
  }
}

@media (max-width: 600px) {
  button {
    width: 100%;
  }

  .mdl-chip {
    width: auto;
  }
}

.activetab {
  background-color: rgb(63, 81, 181);
  color: white !important;
}

.activetab:hover {
  background-color: rgb(63, 81, 181);
  color: white !important;
}

.tab {
  width: auto;
}

.header-cell {
  margin-top: 0;
}

.header .cart-icon {
  margin-top: 20px;
  cursor: pointer;
  color: black;
}

body, button, input, select, textarea {
    font: 14px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
